@font-face {
	font-family: "Liberation Sans";
	src: url('../assets/fonts/LiberationSans-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: "Liberation Sans";
	src: url('../assets/fonts/LiberationSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Liberation Sans";
	src: url('../assets/fonts/LiberationSans-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: "Liberation Sans";
	src: url('../assets/fonts/LiberationSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


* {
	margin: 0px;
	padding: 0px;
	font-family: Liberation Sans;
	box-sizing: border-box;
}

a {
	color: black;
}

a:visited {
	color: black;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-container {
	display: grid;
	grid-template-columns: 1fr 0.5fr 2fr 2fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
	"scroll scroll scroll scroll scroll"
	"header header header header header"
	". navpanel main main ."
	". navpanel main main ."
	". footer footer footer .";
}

.infinite-scroll {
	color: white;
	background-color: black;
	font-style: italic;
}

.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.title {
	margin: 0px 0px 10px -10px;
	font-size: 10rem;
	font-weight: bold;
	line-height: 65%;
	flex-grow: 1;
}

.links {
	font-size: 3rem;
	font-weight: bold;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	flex-grow: 1;
	text-align: left;
}
