.title {
  flex: 2;
}

.title h1 {
  padding: 0;
  margin: -0.75rem;
  font-size: 5rem;
  font-weight: 750;
  line-height: 5rem;
}

.title h1:nth-child(2) {
  transform: scale(1, -1);
}

.navbar {
  flex: 1;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--main-text-color);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}
